<div class="container">
  <div class="wrapper">
    <div class="header">
        <img class="logo"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Disney_wordmark.svg/1280px-Disney_wordmark.svg.png"
             alt="logo">
        <h1 class="header-title">Supper App</h1>
    </div>
    <div class="sidebar">
        <h2>Characters</h2>
    </div>
    <div class="main">
      <div class="items-space">
        <div class="card"
             *ngFor="let item of characters.slice(paginator.pageIndex * paginator.pageSize, (paginator.pageIndex + 1) * paginator.pageSize )">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="item-title">{{item.name}}</mat-card-title>
            </mat-card-header>
            <img class="item-img" src="{{item.imageUrl}}" alt="Character image">
            <mat-card-actions class="action-section">
              <button (click)="openCharacterInfo(item.sourceUrl)" mat-stroked-button color="primary">Get more info</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <mat-paginator [length]="paginator.length"
                     [pageSize]="paginator.pageSize"
                     [pageSizeOptions]="[10, 25, 50]"
                     (page)="setPage($event)"
                     class="paginator"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
