.container {
  max-width: 1260px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.header {
  grid-area: header;
  padding: 20px;
}

.logo {
  max-width: 100px;
  max-height: 30px;
  float: left;
  padding-right: 10px;
}

.sidebar {
  grid-area: sidebar;
  padding-left: 20px;
}
.main { grid-area: main; }

.items-space {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  /*min-height: 280px;*/
  /*min-width: 300px;*/
}

.item-title {
  font-size: 16px;
  word-wrap: break-word;
}

.item-img {
  max-height: 280px;
  max-width: 300px;
}

